*~
*.o
*.d
*.elf
*.bin
*.list
*.srec
*.hex
*.map
*.swp
*.stylecheck
generated.*.ld
.gdb_history
.DS_Store
cscope.out
.cscope_cmd.*
objs/
objs.x86_64/
objs.mac/
objs.rom/
objs.rom_d/
objs.win32/
objs.win64/
rev1/
rev2/
rev3/
photos
#fw/libopencm3/
#fw/stutils/
amiga/smash
amiga/smashfs
amiga/smashftp
amiga/smashfsrom
amiga/smashfsrom_d
sw/hostsmash
sw/crcit
kicksmash_*
