*~
*.o
*.d
*.elf
*.bin
*.list
*.srec
*.hex
*.map
*.swp
*.dis
*.stylecheck
generated.*.ld
.gdb_history
.DS_Store
cscope.out
.cscope_cmd.*
.genromrc
objs/
objs.*/
rev1/
rev2/
rev3/
rev4/
photos
#fw/libopencm3/
#fw/stutils/
amiga/smash
amiga/smashfs
amiga/smashftp
amiga/smashfsrom
amiga/smashfsrom_d
amiga/romswitch
sw/hostsmash
sw/crcit
kicksmash_*
